body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #1e3a8a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background: url('https://www.policiacivil.pr.gov.br/sites/default/arquivos_restritos/files/imagem/2022-10/copia_de_apresentacao.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 4em;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero p {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #1e3a8a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1, h2, h3 {
    color: #1e3a8a;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}
